---
- name: Find old installations of given tool
  find:
    paths: '{{ jetbrains_installer_dir }}'
    patterns: '{{ tool_dir_prefix }}*'
    file_type: 'directory'
  register: _old_installation

- name: extract paths from found installations dictionary
  set_fact:
    tool_install_paths: "{{ _old_installation.files | map(attribute='path') | list }}"

- name: remove the current version from the list of found installations
  set_fact:
    tool_old_paths: "{{ tool_install_paths | reject('search', jb_tool.version) | list }}"

- debug: msg="Removing {{ tool_old_paths }}"

- name: Remove old installations
  file:
    path: "{{ item }}"
    state: "absent"
  loop: "{{ tool_old_paths }}"
  when: jetbrains_installer_remove_old_tools
