[Desktop Entry]
Version=1.0
Type=Application
Name={{ jb_tool.name }}
Icon={{ jetbrains_installer_dir }}/{{ jb_tool.dirname }}/bin/{{ jb_tool.image_name }}
Exec="{{ jetbrains_installer_dir }}/{{ jb_tool.dirname }}/bin/{{ jb_tool.binary }}" %f
Comment={{ jb_tool.link_name }} for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-{{ jb_tool.link_name }}
