---
name: Release
'on':
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@v4

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'  # Can't go to 3.14+ until Ansible 13.x

      - name: Install Ansible.
        run: pip3 install ansible-core

      - name: Trigger a new import on Galaxy.
        # https://docs.ansible.com/ansible/latest/galaxy/dev_guide.html#authenticate-with-galaxy
        # https://galaxy.ansible.com/ui/token/ Collections > API Token -> Load token
        run: >-
          ansible-galaxy role import --api-key ${{ secrets.GALAXY_API_KEY }} ${{ github.event.repository.owner.name }} ${{ github.event.repository.name }}
